body{
	background:#5A5660;
}
+tr {
  border: #000 5px solid;
}
.dato{
	font-family:Comic Sans;
	font-size:22px;
	text-align:center;
}
.dato1{
	text-align:center;
	font-size:18px;
}
<<<<<<< HEAD

div textarea{
	position:absolute;
	top:363px;
	left:1020px;
	font-size:14px; 	
}
=======
table{
	border-spacing:  5px 10px;
}

>>>>>>> 81572b963881e4a5e3b1178d51bed2025f9cab87

.titulo{
	background:#C0E0F5;
	color: #3B6F90;
	width:310px;
	height:22px;
	position:absolute;
	top:53px;
	left:1029px;
	font-size:12px;
	font-family: verdana;
	text-align: center;
}
.cuadro_atributos{
	background:#CAAFF5;
	height:570px;
	width: 334px;
	float:left;
	display:block;
	margin: 5px 0px 5px 5px;
	overflow-y: scroll;
}

.cuadro_pdf{
	height:570px;
	width: 334px;
	float:left;
	display:block;
	margin: 5px 0px 5px 5px;
	overflow-y: scroll;
}
.opciones_salida{
	height:40px;
	width: 150px;
	margin: 20px 20px 20px 20px;
	box-shadow: 0px 0px 5px 3px #66D2F0;
}
.botones_s li{
	list-style:none;
	border: solid 1px #fff;
	float:left;
	height: 40px;
	width: 73px;
	text-align:center;
	line-height:40px;
	display:block;
	background-color: #B489F9;
}
.botones_s li a{
	color:#537996;
	text-decoration:none;
	display:block;
}
.botones_s li a:hover{
	background-color: #DDCEF5;
	color:#B489F9;
}
.botones_s li a:active{
	background-color: #6238A7;
	color: #000;
}

table{
	margin: 5px 5px 5px 5px;
	vertical-align:middle;
}

.container {
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width : 100%;
}

.item {
	flex-grow : 1;
}

.pdfitem {
	flex-grow : 1;
	flex-basis : 40vw;
	min-width: 550px;
}