<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hola mundo</title>
<style type="text/css">
* {
	margin:0px;
	padding: 0px;
}
</style>

<link rel ="stylesheet" href="{{STATIC_URL}}css/style.css">
</head>
<body>
	
	<div class="opciones_salida">
		<ul class = "botones_s">
			<li><a href="#">Texto</a></li>
			<li><a href="#">HTML</a></li>
		</ul>
	</div>
	<div class = "titulo">
		<h2>Datos del programa sinóptico</h2>
	</div>
	
	<textarea name="pdf" placeholder="PDF" cols="68" rows="38"></textarea>
	
	<textarea name="listo" placeholder="listo" cols="68" rows="38"></textarea>
	
	<div class="cuadro_atributos">
		<form name="datos_tabla"> </form>
		<br />
		<table border="0" style="border:1 hidden; margin: 0 auto;" >
			<tr>
				<td class="dato">Código</td>
				<td class="dato1">
					<input type="text" name="codigo" />
				</td>
			</tr>
			<tr>
				<td  class="dato">Creditos</td>
				<td class="dato1">
					<input type="number" name="creditos" min="0" max="16" />
				</td>
			</tr>
			<tr>
				<td class="dato">Título</td>
				<td class="dato1">
					<input type="text" name="titulo"/>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="dato" style="border: double blue"> </td>
			</tr>
			<tr>
				<td colspan="2" class="dato">Entrada en  vigencia</td>
			</tr>
			<tr>
				<td valign ="top" class="dato">Fecha</td>
				<td class="dato1"> <input type="number"  name="fecha" min="1969"/> </td>
			</tr>
			<tr>
				
				<td valign ="top" class="dato">Periodo</td>
				<td class="dato1">
					<input type="radio" style="vertical-align: middle" name="Periodo" value="sd"/> sep-dic
					<input type="radio" style="vertical-align: middle" name="Periodo" value="em"/> ene-mar
					<input type="radio" style="vertical-align: middle" name="Periodo" value="aj"/> abr-jul<br />
					<input type="radio" style="vertical-align: middle" name="Periodo" value="verano"/> verano 
				</td>
				
			</tr>
			</table>
			<table>
			<tr>
				<td colspan="3" class="dato" style="border: double blue"> </td>
			</tr>
			<tr>
				<td colspan="2" class="dato">Horas semanales</td>
			</tr>
			<tr>
				<td  class="dato">Teoría</td>
				<td class="dato1">
					<input type="number" name="h_teoria" min="0"/>
				</td>
			</tr>
			<tr>
				<td  class="dato">Práctica</td>
				<td class="dato1">
					<input type="number" name="h_practica" min="0"/>
				</td>
			</tr>
			<tr>
				<td  class="dato">Laboratorio</td>
				<td class="dato1">
					<input type="number" name="h_lab" min="0"/>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="dato" style="border: double blue"> </td>
			</tr>
			<tr>
				<td colspan="2" class="dato">Departamento</td>
			</tr>
			
			<tr>
				<td colspan="2" class="dato1">
					<select name="area_dep" id="area_dep">
                		<option value="">- Seleccione área de su departamento -</option>
    				</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="dato1">
					<select name="dep" id="dep">
                		<option value="">- Seleccione su departamento -</option>
    				</select>
				</td>
			</tr>
			
			<tr><td colspan="2" class="dato">Coordinación</td></tr>
			<tr>
				<td colspan="2" class="dato1">
					<select name="area_coor" id="area_coor">
                		<option value="">- Seleccione área de su coordinación -</option>
    				</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="dato1">
					<select name="coor" id="coor">
                		<option value="">- Seleccione su coordinación -</option>
    				</select>
				</td>
			</tr>
			</tr>
			<tr>
				<td colspan="2" class="dato">Objetivos</td>
			</tr>
					
		</table>
		
		
	</div>
	
</body>
</html>
