{% extends "SIGPAEHistorico/base.html" %}
{% block title %}SIGPAE | Archivos almacenados{% endblock %}

{% block content %}
<div style="margin-top:10px;">
{% if files %}
        <ul>
        {% for file in files %}
            <li>{{ file.name }}:    <a class="btn btn-class btn-default btn-xs" href="{% url 'editar' file.pk %}">Editar</a></li>
                    <br>
        {% endfor %}
        </ul>
{% else %}
    <h3 align="center">No hay archivos almacenados.</h3>
{% endif %}
</div>
{% endblock %}
