{% extends "SIGPAEHistorico/base.html" %}
{% block content %}

	{% if solicitud %}
		    <ul>
		        <li>Denominacion: {{solicitud.denominacion}}</li>
						<br>
						<li>Codigo: {{solicitud.cod}}</li>
						<br>
						<li>Creditos: {{solicitud.creditos}}</li>
						<br>
						<li>Coordinación: {{solicitud.nomcoord}}</li>
						<br>
						{% if programa %}
						<li>Horas de teoria: {{programa.h_teoria}}</li>

						{% endif %}

		    </ul>
	{% else %}
	    <h3 align="center">No hay archivos almacenados.</h3>
	{% endif %}


{% endblock %}
