<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body>
<span style="position:absolute; border: gray 1px solid; left:0px; top:50px; width:595px; height:841px;"></span>
<div style="position:absolute; top:50px;"><a name="1">Page 1</a></div>
<div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:85px; top:177px; width:3px; height:38px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br> 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:85px; top:563px; width:3px; height:10px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:238px; top:136px; width:190px; height:10px;"><span style="font-family: b'Times New Roman,Bold'; font-size:10px">UNIVERSIDAD SIMÓN BOLÍVAR 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:265px; top:150px; width:137px; height:10px;"><span style="font-family: b'Times New Roman,Bold'; font-size:10px">Vicerrectorado académico 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:166px; top:166px; width:3px; height:10px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:218px; top:163px; width:3px; height:24px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:217px; width:262px; height:108px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br>1.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">Departamento: Química  
<br> 
<br> 
<br></span><span style="font-family: b'Times New Roman,Bold'; font-size:10px">2.</span><span style="font-family: b'Arial,Bold'; font-size:11px">  </span><span style="font-family: b'Times New Roman,Bold'; font-size:10px">ASIGNATURA: QUÍMICA INORGÁNICA I   
<br></span><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br></span><span style="font-family: b'Times New Roman,Bold'; font-size:10px"> 
<br> 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br>3.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">Código de la asignatura: QM-2211 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:120px; top:329px; width:300px; height:52px;"><span style="font-family: b'Times New Roman'; font-size:10px">No. de unidades-crédito: 3  
<br>No. de horas semanales: Teoría 3 h Práctica 1 h Laboratorio 0 
<br> 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:379px; width:411px; height:154px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br>4.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">Fecha de entrada en vigencia de este programa: SEPTIEMBRE 1992  
<br> 
<br>5.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">Requisitos: QM-2511 
<br> 
<br> 
<br> 
<br> 
<br>6.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">OBJETIVO GENERAL: Que el alumno comprenda los principios teóricos de la 
<br>estructura  atómica,  que  rigen  las  sistematización  de  los  elementos  de  la  Tabla 
<br>Periódica.  Que  el  alumno  maneje  los  modelos  y  teorías  del  enlace  químico, 
<br>aplicándolos  a  los  compuestos  no  transicionales.  Que  aplique  los  modelos  de 
<br>enlace  para  explicar  la  correlación  de  las  propiedades  de  los  elementos  y  sus 
<br>compuestos, en cuanto a reactividad, energía y estereoquímica de las especies  
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:536px; width:102px; height:25px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br>7.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">CONTENIDOS: 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:577px; width:410px; height:52px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.1</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">Simetría y Estructura: elementos y operaciones de simetría. Grupos de simetría 
<br>C</span><span style="font-family: b'Times New Roman'; font-size:7px">n</span><span style="font-family: b'Times New Roman'; font-size:10px">.C</span><span style="font-family: b'Times New Roman'; font-size:7px">nv</span><span style="font-family: b'Times New Roman'; font-size:10px">,D</span><span style="font-family: b'Times New Roman'; font-size:7px">n</span><span style="font-family: b'Times New Roman'; font-size:10px">,D</span><span style="font-family: b'Times New Roman'; font-size:7px">nh</span><span style="font-family: b'Times New Roman'; font-size:10px">,D</span><span style="font-family: b'Times New Roman'; font-size:7px">nd</span><span style="font-family: b'Times New Roman'; font-size:10px">. Los grupos Sn. Moléculas lineales C</span><span style="font-family: b'Times New Roman'; font-size:7px">∞
<br>v</span><span style="font-family: b'Times New Roman'; font-size:10px">. grupos de alta 
<br>simetría.  Grupos  tetraédricos,  octaédricos  y  cúbicos.  Grupos  icosaedro  y 
<br>pentagonal dodecaedro. Disimetría molecular y actividad óptica. (4 horas)   
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:399px; top:588px; width:31px; height:14px;"><span style="font-family: b'Times New Roman'; font-size:7px">v</span><span style="font-family: b'Times New Roman'; font-size:10px"> y D</span><span style="font-family: b'Times New Roman'; font-size:7px">∞
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:632px; width:410px; height:52px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.2</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">ESTRUCTURA  ATÓMICA:  la  ecuación  de  onda.  El  átomo  de  hidrógeno.  El 
<br>átomo polielectrónico. Principio de Pauli  y Spin  electrónico. Principio Aufbau. 
<br>Estados atómicos. Términos de Russell-Saunders. Regla de Hund. Acoplamiento 
<br>J. (6 horas) 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:687px; width:410px; height:38px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.3</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">TABLA  PERIÓDICA:  variación  de  energía  de  los  orbitales  atómicos  con  el 
<br>número atómico: penetración y apantallamiento. La Tabla periódica. Tamaño de 
<br>los átomos. Energías de ionización y afinidad electrónicas. 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:729px; width:410px; height:80px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.4</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">ENLACE  IÓNICO:  interacciones  coulómbicas  y  repulsivas.  Propiedades  y 
<br>ocurrencia  del  enlace  iónico.  Energía  reticular.  Ciclos  tipo  Born-Haber.  Radio 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px">iónico.  Empacamiento  y  redes  cristalinas.  Relación  de  radios  y  números  de 
<br>coordinación. Sólidos inorgánicos simples. Desviación de las estructuras iónicas 
<br>simples. Defectos estructurales. Solubilidad de las sustancia iónicas. Energía de 
<br>hidratación. (8 horas)   
<br></span></div><span style="position:absolute; border: black 1px solid; left:94px; top:255px; width:431px; height:27px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:291px; width:431px; height:72px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:372px; width:431px; height:27px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:408px; width:431px; height:27px;"></span>
<span style="position:absolute; border: black 1px solid; left:93px; top:445px; width:432px; height:89px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:543px; width:431px; height:279px;"></span>
<div style="position:absolute; border: figure 1px solid; writing-mode:False; left:85px; top:120px; width:81px; height:54px;"></div><span style="position:absolute; border: black 1px solid; left:94px; top:210px; width:431px; height:27px;"></span>
<span style="position:absolute; border: gray 1px solid; left:0px; top:941px; width:595px; height:841px;"></span>
<div style="position:absolute; top:941px;"><a name="2">Page 2</a></div>
<div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:1010px; width:411px; height:42px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br>7.5</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px"> ENLACE METÁLICO: el enlace de los metales. Teorías de bandas. Estructuras 
<br>cristalinas  de  metales.  Aleaciones.  Semiconductores,  impurezas  y  defectos 
<br>estructurales. 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:1056px; width:410px; height:121px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.6</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">ENLACE  COVALENTE:  tratamiento  teórico  del  enlace  covalente.  Teoría  de 
<br>enlace-valencia  (VBT);  teoría  de  orbitales  moleculares  (MOT).  Simetría  y 
<br>criterio  de  superposición.  Simetría  de  orbitales  moleculares.  Diagramas  de 
<br>energía  de  orbítales  moleculares;  niveles  de  energía.  Moléculas  diatónicas 
<br>mononucleares  y  heteronucleares.  Moléculas  triatómicas  lineales  y  angulares. 
<br>Moléculas deficientes de electrones. Comparación entre las teorías VBT y MOT. 
<br>Hibridación.  Enlaces  múltiples.  Resonancia.  Electronegatividad.  Escalas  de 
<br>electronegatividad.  Métodos  para  estimar  la  electronegatividad.  Momentos 
<br>bipolares. (12 horas)  
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:1180px; width:409px; height:80px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.7</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">ESTRUCTURA  Y  REACTIVIDAD:  estructura  molecular  y  parámetros  de 
<br>enlace; radios atómicos en compuestos covalentes; energía, distancias y ángulos 
<br>de  enlace.  Hibridación  y  geometría  molecular.  Teoría  de  repulsión  de  pares 
<br>electrónicos de la capa de valencia (VSEPR). Influencia de pares electrónicos no 
<br>enlazante sobre la geometría. Métodos experimentales para la determinación de 
<br>estructuras. Estructura y reactividad molecular. (4 horas) 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:103px; top:1263px; width:410px; height:107px;"><span style="font-family: b'Times New Roman'; font-size:10px">7.8</span><span style="font-family: b'Arial'; font-size:11px"> </span><span style="font-family: b'Times New Roman'; font-size:10px">FUERZAS  QUÍMICAS:  distancia  internucleares  y  radios  atómicos.  Radios  de 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px">Van  der  Waals.  Comparaciones  de  radios.  Interacciones  Ion-dipolo,  dipolo-
<br>dipolo,  dipolo-dipolo  inducido.  Comparación  de  interacciones  débiles  en 
<br>sustancias  covalentes.  El  enlace  de  hidrógeno.  Hidratos  y  clatratos.  Efectos 
<br>causados  por  las  fuerzas  químicas:  punto  de  fusión,  puntos  de  ebullición, 
<br>solubilidad y estado físico de los elementos. (2 horas)  
<br> 
<br> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:112px; top:1374px; width:208px; height:10px;"><span style="font-family: b'Times New Roman'; font-size:10px">8. ESTRATEGIAS METODOLÓGICAS:  
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:1375px; width:4px; height:23px;"><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br></span><span style="font-family: b'Times New Roman,Bold'; font-size:10px"> 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:120px; top:1401px; width:392px; height:24px;"><span style="font-family: b'Times New Roman'; font-size:10px">1. </span><span style="font-family: b'Times New Roman,Bold'; font-size:10px">Clases formales:</span><span style="font-family: b'Times New Roman'; font-size:10px"> presentación teórica de los tópicos propuestos. 
<br>2.  </span><span style="font-family: b'Times New Roman,Bold'; font-size:10px">Sesiones  de  práctica:</span><span style="font-family: b'Times New Roman'; font-size:10px">  explicación  de  ejemplos  y  resolución  de  problemas 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:130px; top:1429px; width:210px; height:10px;"><span style="font-family: b'Times New Roman'; font-size:10px">para la comprensión de los tópicos teóricos 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:112px; top:1456px; width:172px; height:11px;"><span style="font-family: b'Times New Roman'; font-size:10px">9.</span><span style="font-family: b'Arial'; font-size:11px">  </span><span style="font-family: b'Times New Roman'; font-size:10px">FUENTE DE INFORMACIÓN: 
<br></span></div><div style="position:absolute; border: textbox 1px solid; writing-mode:lr-tb; left:101px; top:1443px; width:411px; height:203px;"><span style="font-family: b'Times New Roman,Bold'; font-size:10px"> 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px"> 
<br> 
<br>   
<br>  .-  J.E.  Huheey,  Inorganic  chemistry;  Principles  of  Structure  and  Reactivity,  3</span><span style="font-family: b'Times New Roman'; font-size:7px">rd</span><span style="font-family: b'Times New Roman'; font-size:10px">. 
<br>Edition, Haper &amp; Publishers, New York,1983. 
<br> 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px">.-  B.  Douglas,  D.  McDaniel  y  J.J.  Alexander,  Concepts  and  Models  of  Inorganic 
<br></span><span style="font-family: b'Times New Roman'; font-size:10px">Chemistry, 2da Edition, John Wiley &amp; Sons, Inc., New York, 1983. 
<br> 
<br>.-  F.A.  Cotton  y  G.  Wilkinson,  Advanced  Inorganic  Chemistry,  4</span><span style="font-family: b'Times New Roman'; font-size:7px">th</span><span style="font-family: b'Times New Roman'; font-size:10px">  .  Edition,  John 
<br>Wiley &amp; Sons, Inc., New York, 1980 
<br> 
<br>.- W. E Hatfield y K.A. Palmer, Problems in Structural Inorganic Chemistry, W.A. 
<br>Benjamin Inc., New York, 1971  
<br>   
<br></span></div><span style="position:absolute; border: black 1px solid; left:94px; top:1003px; width:431px; height:350px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:1368px; width:431px; height:72px;"></span>
<span style="position:absolute; border: black 1px solid; left:94px; top:1448px; width:431px; height:202px;"></span>
