{% extends "SIGPAEHistorico/base.html" %}

{% block title %}SIGPAE | Cargar archivo{% endblock %}

{% block content %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{form.name.label_tag}} {{form.name.help_text}} </p>
            <p>
            	{{form.name.errors}}
            	{{form.name}}
            </p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                <input type="file" accept=".pdf" {{ form.docfile }}

            </p>

            <p>
            	{{form.type.errors}}
            	{{form.type}}
            </p>



            <p><input type="submit" value="Upload"/></p>
        </form>
{% endblock %}
